<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gs86</property>
        <property name="hibernate.connection.username">gs86</property>
        <property name="hibernate.connection.password">12345</property>
    
        <!-- c3p0 config http://www.hibernate.org/214.html -->
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>        
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">2</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
    
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/PPhones.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/AGroups.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/GLocations.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/PEmailTypes.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/PNaturalPerson.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/PPhoneTypes.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/PEmails.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/GZones.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/PJuridicalPerson.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/GCountries.hbm.xml"/>
        <mapping resource="ca/danielvega/hibernatestruts/model/entities/AUsers.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
